*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
secret.properties
/.github/workflows/anilib_debug_artifact.yml
/app/build/
/.idea/
/release.properties


keystore.jks*
keystore.base64*
release.properties*
secret.properties*